/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.open-btn{
  position: fixed;
  right: 100px;
  bottom: 33px;
  border: none;
  background-color: #66debb;
  color: #00385b;
  height: 60px;
  width: 220px;
  font-size: x-large;
  font-weight: 600;
  border-radius: 24px;
  box-shadow: 0px 0px 22px 0px rgb(0 0 0 / 30%);
  cursor: pointer;
  z-index: 100;
  animation: glowing 1300ms infinite;
}
.rounded a {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #DAD2CA;
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: .3s ease-out;
}
.rounded {
  counter-reset: li;
  list-style: none;
  font: 28px "Trebuchet MS", "Lucida Sans";
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded a:hover {background: #d6af90;}
.rounded a:hover:before {transform: rotate(90deg);}
.rounded a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 40%;
  margin-top: -1.3em;
  background: #8FD4C1;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}
.bullet {
  margin-left: 0;
  list-style: none;
  counter-reset: li;
}
.bullet li {
  position: relative;
  margin-bottom: 1.5em;
  border: 3px solid #CADFCF;
  padding: 0.6em;
  border-radius: 4px;
  background: #FEFEFE;
  color: #231F20;
  font-family: "Trebuchet MS", "Lucida Sans";
}
.bullet li:before {
  position: absolute;
  top: -0.7em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  font-size: 16px;
  font-weight: bold;
  color: #DCC24B;
  background: #FEFEFE;
  border-radius: 50%;
  counter-increment: li;
  content: counter(li);
}
.h1-full{
  font-size: 64px;
  text-align: center;
}
.h3-home{
  padding-top: 2%;
}
.information{
  text-indent: 2%;
  text-align:justify;
  font-size: 24px;
  font-weight: 300;
  margin-top: 2rem;
}
.one{
  display: grid;
  grid-template-rows: auto 1fr;
}